<div
  id="tokengating-example-app"
  data-product_id="{{ product.id }}"
  data-product_gated="{{ product.gated? }}">
</div>
<script>
  window.myAppGates = [
    {%- for gate in product.gates -%}
      {%- if gate.configuration.handle == 'tokengating-example-app' -%}
        {%- assign configuration = gate.configuration -%}
        {
          id: "{{ configuration.id }}",
          name: "{{ configuration.name | escape }}",
          requirements: {{ gate.configuration.metafields.tokengating-example-app.requirements }},
          reaction: {{ gate.configuration.metafields.tokengating-example-app.reaction }}
        },
      {%- endif -%}
    {%- endfor -%}
  ];
</script>

<script async type="module" src="{{ "index.js" | asset_url }}"></script>
<link rel="stylesheet" href="{{ "index.css" | asset_url }}">

{% schema %}
  {
    "name": "Tokengate",
    "target": "section",
    "templates": ["product"],
    "settings": []
  }
{% endschema %}
